<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Answer</title>
</head>
<body>
<h1>Answer</h1>
<!-- pe <%=  %> -->
<!-- er <%  %> -->
<h2>The question was: "<%= @question %>"</h2>
<h2>The answer is: "<%= @answer %>"</h2>

<%= link_to "Ask a new question", '/ask' %>

</body>
</html>
